<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>gas tracker</string>
    <key>ProgramArguments</key>
    <array>
        <string>/path/to/gas_tracker/run.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/path/to/.gas_tracker_logs/stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/path/to/.gas_tracker_logs/stderr.log</string>
</dict>
</plist>
